<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (ngModelChange)="onCodeChange($event)" (onInit)="onInit($event)"></ngx-monaco-editor>
<section id=sidepanel>
  <div>
    <button (click)="format()" [disabled]="busy">Format</button>
    <button (click)="run(false)" [disabled]="busy">Build & Run</button>
    <button (click)="run(true)" [disabled]="busy">Build & Download</button>
    <span><input [(ngModel)]="optimizeFlag" type="checkbox"/> Optimized Build</span>
  </div>
  <app-terminal></app-terminal>
</section>
<app-footer></app-footer>
